{% extends "layout.html" %}
{% block scripts %}
<link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.11.1.min.css" type="text/css" />
<script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-0.11.1.min.js"></script>
{{ script | safe }}
{% endblock %}
{% block content %}
  <div class="jumbo">
    <h2>Hi, {{ name }} !</h2>
    <h4> From your commits, I can tell that you are {{res}} with a score of {{ score }}</h4>
  </div>
  <div class = "music">
  		<audio controls autoplay>
    		<source src={{song}} type="audio/mpeg">
		</audio> 
  </div>
  <div class="stat">
    {{ div|safe }}
  </div>

{% endblock %}
